
{% trans_default_domain 'FOSUserBundle' %}



    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
 

<div id="login_mw" class="modal_window">

    <button class="close arcticmodal-close"></button>

    <header class="on_the_sides">

        <div class="left_side">

            <h2>Register</h2>

        </div>

        <div class="right_side">

            <a href="login" class="button_grey middle_btn">LogIn</a>

        </div>

    </header><!--/ .on_the_sides-->
    <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register type_2">
  {{ form_errors(form) }}
        <ul>

            <li>
             {{ form_label(form.email,'Email address') }}
              <div class="error"></div>
          
              {{ form_errors(form.email) }}
    
              {{ form_widget(form.email, {'attr': {'placeholder': 'Email address'}}) }}         
            </li>
            <li>
            
             {{ form_label(form.username,'Username') }}
            <div class="erroruser"></div> 
            
             {{ form_errors(form.username) }}
         
             {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}     
            </li>
            <li>
              
              {{ form_label(form.plainPassword.first,'Password' |trans) }}
            <div class="errorpass"></div>  
              {{ form_errors(form.plainPassword.first) }}
              {{ form_widget(form.plainPassword.first, {'attr':{'placeholder': 'Password'} }) }}
            </li>
            <li>
              {{ form_label(form.plainPassword.second,'Password confirmation') }}
             {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password Confirmation'}}) }}
            </li>           
            <li>
            {{  form_rest(form)}}
            <input type="submit" class="button_blue middle_btn" id="_submit" value="{{ 'enregister'|trans }}" />
            </li>
        </ul>

    </form>


</div>
    {% endif %}

